.nav {
    background-color: #2c3e50; /* Dark background color */
    border-bottom: 2px solid #f39c12; /* Orange border at the bottom */
  }
  
  .navbar-brand {
    color: #f39c12; /* Orange text color for the brand/logo */
    font-size: 28px; /* Larger font size for the brand/logo */
    font-weight: bold; /* Bold font weight for emphasis */
    text-transform: uppercase; /* Uppercase text for the brand/logo */
    letter-spacing: 2px; /* Increased letter spacing for better readability */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* White text color for the links */
    font-size: 18px; /* Font size for the links */
    font-weight: bold; /* Bold font weight for emphasis */
  }
  
  .navbar-nav .nav-link:hover {
    color: #f39c12; /* Orange text color on hover */
  }
  
  .navbar-toggler-icon {
    color: #fff; /* White color for the toggler icon */
  }
  
  .form-control {
    background-color: #34495e; /* Dark background color for the search input */
    color: #fff; /* White text color for the search input */
    border-color: #f39c12; /* Orange border color for the search input */
  }
  
  .btn-outline-success {
    color: #fff; /* White text color for the search button */
    border-color: #fff; /* White border color for the search button */
  }
  
  .btn-outline-success:hover {
    background-color: #f39c12; /* Orange background color on hover */
    color: #2c3e50; /* Dark text color on hover */
  }
  